body{
  font-family:Arial;
  background:#f4f6f8;
  padding:20px;
}

h1{
  text-align:center;
}

.card{
  background:white;
  padding:15px;
  margin-bottom:20px;
  border-radius:10px;
}

input, textarea{
  width:100%;
  padding:10px;
  margin:6px 0;
}

button{
  padding:10px 15px;
  cursor:pointer;
}

.save{
  background:#27ae60;
  color:white;
  border:none;
  width:100%;
  font-size:16px;
  border-radius:8px;
}
