.page{
  display:none;
}

.page.active{
  display:block;
}

body { font-family: Arial; background:#f5f5f5; margin:0 }
.header {
  display:flex; align-items:center;
  background:#2c3e50; color:white; padding:10px
}
.logo { width:60px; margin-right:15px }
.hamburger { margin-left:auto; font-size:24px }
#sidebar{
  position:fixed;
  top:0;
  left:-220px;
  width:220px;
  height:100%;
  background:#34495e;
  z-index:1001;   /* HARUS LEBIH TINGGI */
}

#overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:none;
  z-index:1000;   /* DI BAWAH SIDEBAR */
}

#sidebar {
  position:fixed; top:0; left:-200px;
  width:200px; height:100%;
  background:#34495e; padding-top:80px;
  transition:.3s;
}
#sidebar a {
  display:block; padding:10px; color:white;
  cursor:pointer;
}

.card {
  background:white; padding:15px; margin:15px;
  border-radius:10px;
}
.blue{border-left:8px solid #3498db}
.green{border-left:8px solid #2ecc71}
.orange{border-left:8px solid #f39c12}
.purple{border-left:8px solid #9b59b6}

table { width:100%; border-collapse:collapse }
th,td { border:1px solid #ddd; padding:8px }

.info-grid {
  display:grid; grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:10px; margin:15px
}
.info-card {
  padding:15px; border-radius:10px; color:white
}
.red{background:#e74c3c}
.teal{background:#1abc9c}
.yellow{background:#f1c40f;color:black}
.info-wrapper{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin:15px;
}

@media (max-width: 768px){

  .header{
    flex-wrap:wrap;
    text-align:center;
  }

  .logo{
    margin:0 auto 10px;
  }

  table{
    font-size:12px;
  }

  th, td{
    padding:6px;
  }

  .card{
    margin:10px;
  }

  /* Table scroll di HP */
  table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
  }

  .hamburger{
    position:absolute;
    right:15px;
    top:15px;
  }
}
.download-wrapper{
  text-align:center;
  margin:30px 0;
}

.download-btn{
  background:#27ae60;
  color:white;
  border:none;
  padding:12px 25px;
  font-size:16px;
  border-radius:30px;
  cursor:pointer;
}

.download-btn:hover{
  background:#219150;
}
#overlay{
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,0.4);
  display:none;
}

.close-btn{
  background:none;
  border:none;
  color:white;
  font-size:20px;
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}
